@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.hero {
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust the opacity as needed */
  z-index: 1;
}

.heading {
  font-family: 'Acme', sans-serif;
}

